.mesurement {
  display: flex;
  flex-direction: row;
  margin: 0.75rem 0;
  .control {
    text-align: left;
    flex: 1;
  }
  .dev {
    text-align: center;
    flex: 1;
  }
  .status {
    flex-basis: 5%;
  }
}
